<form [formGroup]="formCrearVisita" (submit)="guardarVisita()">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <h1>Crear visita</h1>
        </div>
        <div class="col-12">
          <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <mat-form-field appearance="outline">
            <mat-label>Buscar por RUC o Razón Social</mat-label>
            <input matInput formControlName="buscarRucRazSo" [matAutocomplete]="auto">

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.ruc }} - {{ option.razonSocial }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-12 col-12">
          <mat-form-field appearance="outline">
            <mat-label>Responsable</mat-label>
            <input matInput formControlName="idUsuario" autocomplete="off">
            <mat-error *ngIf="formCrearVisita.invalid">{{obtenerErrorCampoIdUsuario()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-md-12 col-12">
          <mat-form-field appearance="outline">
            <mat-label>Asunto</mat-label>
            <input matInput formControlName="asunto" autocomplete="off" type="text">
            <mat-error *ngIf="formCrearVisita.invalid">{{obtenerErrorCampoAsunto()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <input type="datetime-local" class="form-control" id="fhvisita" formControlName="fhvisita">
            <div *ngIf="formCrearVisita.invalid">{{obtenerErrorCampoFHVisita()}}</div>
        </div>

        <app-equipo-assign
        [parentForm]="formCrearVisita"
        (equiposSeleccionados)="actualizarEquipos($event)"></app-equipo-assign>

        <div class="col-12">
          <button mat-raised-button class="action-button btnGuardar" [disabled]="formCrearVisita.invalid">Guardar</button>
          <a routerLink="/visitas" mat-raised-button class="action-button btnCancelar">Cancelar</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

