<div class="app-container">
  <header>
    <div class="menu-container">
      <button class="hamburger" (click)="toggleMenu()">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>

      <a href="/">
        <img src="assets/images/logo_evolux_cmms.png" alt="Imagen" class="logo-pequeño">
      </a>

      <a href="/usuarios">
        <mat-icon fontIcon="account_circle" class="icono-user"></mat-icon>
      </a>

      <nav class="nav-menu" [class.active]="isMenuOpen">
        <div class="container-fluid">
          <ul>
            <li>
              <a href="/">
                <img src="assets/images/logo_evolux_cmms.png" alt="Imagen" class="menu-image">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" [ngClass]="{'active': currentRoute === '/'}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/visitas" [ngClass]="{'active': currentRoute.startsWith('/visitas')}">Visitas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cotizaciones" [ngClass]="{'active': currentRoute.startsWith('/cotizaciones')}">Cotizaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/clientes" [ngClass]="{'active': currentRoute.startsWith('/clientes')}">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios" [ngClass]="{'active': currentRoute.startsWith('/usuarios')}">Usuarios</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main class="content" [class.active]="isMenuOpen">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </main>
</div>
